@font-face {
    font-family: 'JB_Mono';
    src: url('../font/JetBrains_Mono/JetBrainsMono-VariableFont_wght.ttf') format('truetype'),
         url('../font/JetBrains_Mono/JetBrainsMono-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'JB_Mono';
    background-color: #351c15;
}

#wrapper-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

#wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: #ECF8F6;
    height: 500px;
    width: 500px;
    box-shadow: #ECF8F6 0 0 20px;
}

#element-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 300px;
}

#number {
    margin-top: 0px;
    margin-bottom: 0px;
}

#name {
    margin-top: 5px;
    margin-bottom: 10px;
}

#button {
    background-image: linear-gradient(to right, #F09819 1%, #EDDE5D  51%, #F09819  101%);
    font-family: 'JB_Mono';
   margin: 10px;
   padding: 15px 45px;
   text-align: center;
   transition: 0.5s;
   background-size: 200% auto;
   font-size: large;
   border: none;
   padding: 15px 20px;
   color: black;            
   box-shadow: 0 0 20px #eee;
   border-radius: 30px;
   display: block;
}

#button:hover {
    background-position: right center;
   color: black;
   text-decoration: none;
   box-shadow: #351c15 0 0 10px;
   cursor: pointer;
}


